@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');



/*   */
header {
  display: flex;
  background-color: #222222;
  color: white;
  flex-wrap: wrap;
  align-items: center;
}

.espacio {
  padding-left: 8%;
}

/*  español y arg */
header ul {
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  justify-content: space-between;

}

/*   */
.fondo-amarillo {
  display: flex;
  background-color: #f0a83e;
  color: white;
  flex-wrap: nowrap;
  height: 62px;
}

/*   */
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #3c2313;
}

/*   */
.bowl {
  height: 890px;
  background-position: center;
  background: url("../img/bowl.png");
  background-size: cover;
  text-align: center;
  font-family: "Roboto";
}

/*   */
.comederos {
  background: #f0a83e;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

/*   */
.productos {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #3c2313;
  font-weight: 700;
}

/*   */
.precios {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  color: #f0a83e;
}

/*   */
.comidas {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  color: #3c2313;
}

/*   */
p {
  background-color: #3c2313;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}

/*   */
.chica {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #8a8787;
}

/*   */
footer {
  bottom: 0px;
  background: #222222;
  text-align: center;
  color: white;
}

/*   */
.flexprobando {
  display: flex;
}

/*  esta es la listade las patitas con opciones (nav prob) */
section ul ul {
  display: flex;
  flex-wrap: nowrap;
  padding-right: 15px;
}

/*  esta es el logo de arriba */
section ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  
}


/*patitas*/
section ul ul{
display: flex;
justify-items: flex-end;

}